@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DataAccessLayer.Models
@model SignUpViewModel

<h2>New user registration</h2>
<form method="post" asp-controller="Auth" asp-action="SignUp">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>