@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DataAccessLayer.Models
@model ChangePasswordViewModel

<h2>Change Password</h2>
<label id="textInfo"></label>
<br />
<form>
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="OldPassword"></label><br />
        <input asp-for="OldPassword" id="oldPassword" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div>
        <label asp-for="NewPassword"></label><br />
        <input asp-for="NewPassword" id="newPassword" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label asp-for="NewPasswordConfirm"></label><br />
        <input asp-for="NewPasswordConfirm" id="newPasswordConfirm" />
        <span asp-validation-for="NewPasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Change password" id="submitBtn"/>
        <a href="/api/user">Cancel</a>
    </div>
</form>

<script>
    async function sendDataAsync() {
        const formData = new FormData();
        formData.append('oldPassword', document.getElementById("oldPassword").value);
        formData.append('newPassword', document.getElementById("newPassword").value);
        formData.append('newPasswordConfirm', document.getElementById("newPasswordConfirm").value);
        console.log("sending");

        const response = await fetch("/api/user/password", {
            method: 'patch',
            headers: { "Accept": "application/json" },
            body: formData
        });

        if (response.status === 204) {
            document.getElementById("oldPassword").value = "";
            document.getElementById("newPassword").value = "";
            document.getElementById("newPasswordConfirm").value = "";
            document.getElementById("textInfo").value = "Password successfully changed";
        }
    }
    document.getElementById("submitBtn").addEventListener("click", e => {
        e.preventDefault();
        sendDataAsync();
    });
</script>